<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superman.superman.dao.AllDevOderMapper">

    <sql id="Base_Column_Pdd">
      goods_id,promotion_amount,goods_name,order_create_time,goods_thumbnail_url,order_sn,p_id
  </sql>
    <sql id="Base_Column_Jd">
      skuId,estimateFee,skuName,orderTime,orderId,positionId
  </sql>
    <sql id="Base_Column_Tb">
    income_rate,pub_share_pre_fee,odercreate_time as odercreateTime,num_iid as
     numIid ,commission,item_title as itemTitle,trade_id as tradeId,relation_id,special_id
  </sql>

    <select id="queryPddPageSize" resultType="com.superman.superman.req.OderPdd">
        SELECT
        <include refid="Base_Column_Pdd"/>
        FROM oder
        WHERE p_id in (Select pddPid from userinfo WHERE id in (select userId from agent where agentId=#{id}
        and status=0) and status=0 union Select pddPid from userinfo WHERE id =#{id})
        <if test="status!= null">
            and order_status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        limit #{star},#{end}
    </select>
    <select id="queryPddPageSizeCount" resultType="java.lang.Integer">
        SELECT IFNULL(count(id),0)
        FROM oder
        WHERE p_id in (Select pddPid from userinfo WHERE id in (select userId from agent where agentId=#{id}
        and status=0) and status=0 union Select pddPid from userinfo WHERE id =#{id})
        <if test="status!= null">
            and order_status in
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="queryTbPageSizeCount" resultType="java.lang.Integer">
        SELECT IFNULL(count(id),0)
        FROM tboder
        WHERE relation_id in (Select rid from userinfo WHERE id in (select userId from agent where agentId=#{id}
        and status=0) and status=0 union Select rid from userinfo WHERE id =#{id})
        <if test="tk_status!= null">
            and tk_status in
            <foreach item="item" index="index" collection="tk_status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryTbPageSize" resultType="com.superman.superman.model.Tboder">
        SELECT
        <include refid="Base_Column_Tb"/>
        FROM tboder
        WHERE relation_id in
        (SELECT rid FROM userinfo
        WHERE id in (SELECT userId FROM agent WHERE agentId=#{id} and status=0) and status=0
        UNION
        SELECT rid FROM userinfo WHERE id =#{id})
        <if test="tk_status!= null">
            AND tk_status IN
            <foreach item="item" index="index" collection="tk_status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        LIMIT #{star},#{end}
    </select>

    <select id="queryJdPageSize" resultType="com.superman.superman.model.JdOder">
        SELECT
        <include refid="Base_Column_Jd"/>
        FROM jdoder
        WHERE positionId in (Select jdPid from userinfo WHERE id in (select userId from agent where agentId=#{id}
        and status=0) and status=0 union Select jdPid from userinfo WHERE id =#{id})
        <if test="tk_status!= null">
            and validCode in
            <foreach item="item" index="index" collection="tk_status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        limit #{star},#{end}
    </select>


    <select id="queryJdPageSizeCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM jdoder
        WHERE positionId in (Select jdPid from userinfo WHERE id in (select userId from agent where agentId=#{id}
        and status=0) and status=0 union Select jdPid from userinfo WHERE id =#{id})
        <if test="validCode!= null">
            and validCode in
            <foreach item="item" index="index" collection="jd" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>