<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.superman.superman.dao.PddDao">

    <!--&lt;!&ndash; insert user &ndash;&gt;-->
    <!--<insert id = "insert" parameterType="smm.springboot_ftl.bean.User">-->
        <!--INSERT INTO USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});-->
    <!--</insert>-->

    <!--&lt;!&ndash; update user &ndash;&gt;-->
    <!--<update id="update" parameterType="smm.springboot_ftl.bean.User">-->
        <!--UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}-->
    <!--</update>-->

    <!-- find user -->
    <select id="selectUsers" resultType="com.superman.superman.model.UserPdd">
        SELECT * FROM pdd_user WHERE userPid=#{userPid}
    </select>
       <select id="selectT" resultType="com.superman.superman.model.Test">
        SELECT * FROM test WHERE userId=#{test}
    </select>
       <select id="selectR" resultType="com.superman.superman.model.Role">
        SELECT * FROM role WHERE userId=#{uid}
    </select>

  <select id="selectRchid" resultType="com.superman.superman.model.Test">
        SELECT agentId,userId FROM test
      <where>
          <if test="test.agentId != null">
              And agentId =#{test.agentId}
          </if>
          <if test="test.userId != null">
              And userId = #{test.userId}
          </if>
      </where>
    </select>


    <select id="selectRchidlist" resultType="com.superman.superman.model.Role">
        SELECT
        *
        from role
        WHERE userId IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectTchidlist" resultType="com.superman.superman.model.Test">
        SELECT
        *
        from test
        WHERE agentId IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="countAgentId"  resultType="java.lang.Integer" >
        SELECT COUNT(*) from test where agentId=#{id}
    </select>

    <!--&lt;!&ndash; delete user &ndash;&gt;-->
    <!--<delete id="delete" parameterType="int">-->
        <!--DELETE FROM USER WHERE ID=#{0}-->
    <!--</delete>-->
</mapper>