<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superman.superman.dao.SysFriendDtoMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.superman.superman.dto.SysFriendDto">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="titile" property="titile" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        titile,
        content,
        image,
        status,
        createtime
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="sysFriendDto.id">
        INSERT INTO jh_friend_dto (
            id,
            titile,
            content,
            image,
            status,
            createtime
        ) VALUES (
            #{sysFriendDto.id,jdbcType=INTEGER},
            #{sysFriendDto.titile,jdbcType=VARCHAR},
            #{sysFriendDto.content,jdbcType=VARCHAR},
            #{sysFriendDto.image,jdbcType=VARCHAR},
            #{sysFriendDto.status,jdbcType=INTEGER},
            #{sysFriendDto.createtime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="sysFriendDto.id">
        INSERT INTO jh_friend_dto
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysFriendDto.id!=null"> id,</if>
            <if test="sysFriendDto.titile!=null"> titile,</if>
            <if test="sysFriendDto.content!=null"> content,</if>
            <if test="sysFriendDto.image!=null"> image,</if>
            <if test="sysFriendDto.status!=null"> status,</if>
            <if test="sysFriendDto.createtime!=null"> createtime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysFriendDto.id!=null">#{sysFriendDto.id,jdbcType=INTEGER},
            </if>
            <if test="sysFriendDto.titile!=null">#{sysFriendDto.titile,jdbcType=VARCHAR},
            </if>
            <if test="sysFriendDto.content!=null">#{sysFriendDto.content,jdbcType=VARCHAR},
            </if>
            <if test="sysFriendDto.image!=null">#{sysFriendDto.image,jdbcType=VARCHAR},
            </if>
            <if test="sysFriendDto.status!=null">#{sysFriendDto.status,jdbcType=INTEGER},
            </if>
            <if test="sysFriendDto.createtime!=null">#{sysFriendDto.createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO jh_friend_dto (
            id,
            titile,
            content,
            image,
            status,
            createtime
        )VALUES
        <foreach collection="sysFriendDtos" item="sysFriendDto" index="index" separator=",">
            (
            #{sysFriendDto.id,jdbcType=INTEGER},
            #{sysFriendDto.titile,jdbcType=VARCHAR},
            #{sysFriendDto.content,jdbcType=VARCHAR},
            #{sysFriendDto.image,jdbcType=VARCHAR},
            #{sysFriendDto.status,jdbcType=INTEGER},
            #{sysFriendDto.createtime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE jh_friend_dto
        <set>
            <if test="sysFriendDto.titile != null"> titile= #{sysFriendDto.titile,jdbcType=VARCHAR},</if>
            <if test="sysFriendDto.content != null"> content= #{sysFriendDto.content,jdbcType=VARCHAR},</if>
            <if test="sysFriendDto.image != null"> image= #{sysFriendDto.image,jdbcType=VARCHAR},</if>
            <if test="sysFriendDto.status != null"> status= #{sysFriendDto.status,jdbcType=INTEGER},</if>
            <if test="sysFriendDto.createtime != null"> createtime= #{sysFriendDto.createtime,jdbcType=TIMESTAMP}</if>
        </set>
        WHERE id = #{sysFriendDto.id,jdbcType=INTEGER}
    </update>
</mapper>

